@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    background: #960;
    flex: 1;
}

.panel {
    position: relative;
    transition: transform .4s ease-out;
    display: flex;

    &-body {
        min-width: 300px;
        background: #069;
        overflow: hidden;
        
        &.hidden {
            display: none;
        }
    }
    
    &-right {
        margin-left: auto;
    
        &.collapsed {
            transform: translateX(100%);
        }

        .panel-pull {
            left: -3em;      
            border-radius: 5px 0 0 5px;
            
            &:hover {
                left: -4em;
            }

            i {
                text-align: left;
            }
        }
    }

    &-left {
        margin-right: auto;

        &.collapsed {
            transform: translateX(-100%);
        }

        .panel-pull {
            right: -3em;
            border-radius: 0px 5px 5px 0;

            &:hover {
                right: -4em;
            }

            i {
                text-align: right;
            }
        }
    }

    &-pull {
        background: rgba(0, 0, 128, 0.3);
        position: absolute;
        padding: .5em;
        color: white;
        width: 3em;
        cursor: pointer;
        top: 2em;
        transition: all .4s ease-out;

        i {
            display: block;
        }

        &:hover {
            width: 4em;
        }
    }
}
